<div class="contactuss-1 contactuss">
        <div class="page-width">
            <div class="contactuss-row">
                <div class="col-md-12">
                    <h5 class="fa-25">{{ section.settings.small-heading }}</h5>
                   <h2 class="fa-120">
                    {{ section.settings.text-heading }}
                   </h2>
                   <p class="fa-25">{{ section.settings.text-area }}</p>
                </div>
            </div>
        </div>
    </div>

<div class="contactuss-form">
        <div class="page-width">
            <div class="contactuss-row">
                <div class="col-md-8">
                    <div class="contactuss-img">
                        <img src="{{ section.settings.contact-image1 | img_url:'1027x682' }}" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-contactform">
                        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
                        {%- if form.posted_successfully? -%}
                          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
                        {%- elsif form.errors -%}
                          <div class="form__message">
                            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
                          </div>
                          <ul class="form-status-list caption-large" role="list">
                            <li>
                              <a href="#ContactForm-email" class="link">
                                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                              </a>
                            </li>
                          </ul>
                        {%- endif -%}
                        <div class="contact__fields">
                          <div class="field">
                            <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
                            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
                          </div>
                          <div class="field field--with-error">
                            <input
                              autocomplete="email"
                              type="email"
                              id="ContactForm-email"
                              class="field__input"
                              name="contact[email]"
                              spellcheck="false"
                              autocapitalize="off"
                              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                              aria-required="true"
                              {% if form.errors contains 'email' %}
                                aria-invalid="true"
                                aria-describedby="ContactForm-email-error"
                              {% endif %}
                              placeholder="{{ 'templates.contact.form.email' | t }}"
                            >
                            <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                            {%- if form.errors contains 'email' -%}
                              <small class="contact__field-error" id="ContactForm-email-error">
                                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                              </small>
                            {%- endif -%}
                          </div>
                        </div>
                        <div class="field">
                          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
                          <label class="field__label tel-field" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                        </div>
                        <div class="field">
                          <input class="field__input" autocomplete="subjects" type="text" id="ContactForm-subjects" name="contact[{{ 'templates.contact.form.subjects' | t }}]" value="{% if form.subjects %}{{ form.subjects }}{% elsif customer %}{{ customer.subjects }}{% endif %}" placeholder="{{ 'templates.contact.form.subjects' | t }}">
                          <label class="field__label" for="ContactForm-subjects">Subject</label>
                        </div>                       
                        <!-- <div class="field contact-dropdown">
                            <div class="select-main field__input">
                             <div class="selected">
                                <a href="javascript:void(0);"><span>Please select</span></a>
                             </div>
                             <div class="options">
                                <ul>
                                  <li><a href="#">Basic subjects<span class="value">1</span></a></li>
                                  <li><a href="#">Other<span class="value">2</span></a></li>
                                  <li><a href="#">Option3<span class="value">3</span></a></li>
                                </ul>
                             </div>
                            </div>  
                          <label for="cars" class="field__label">Subject</label>                       
                        </div> -->
                        <div class="field">
                          <textarea
                            rows="10"
                            id="ContactForm-body"
                            class="text-area field__input"
                            name="contact[{{ 'templates.contact.form.comment' | t }}]"
                            placeholder="{{ 'templates.contact.form.comment' | t }}"
                          >
                            {{- form.body -}}
                          </textarea>
                          <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
                        </div>
                        <div class="contact__button">
                          <button type="submit" class="button" value="submit">
                            Send Message
                          </button>
                        </div>
                      {%- endform -%}</div>
                </div>
            </div>
        </div>
    </div>




{% schema %}
 {
  "name": "conatct us form",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "text-heading",
      "default": "We would love to help"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "small-heading",
      "default": "CONTECT SPADE"
    },
    {
      "type": "textarea",
      "label": "Paragraph",
      "id": "text-area",
      "default": "Let us know how we can help you! Email us, check out our FAQ's, contact us or browse our store locator."
    },
    {
          "type": "image_picker",
          "label": "Image",
          "id": "contact-image1"
        }
  ],
  
  "presets": [
    {
      "name": "Contact Us Form"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}